.logo{
    height: 4.2em;
    
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index:999 ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}
.navi a{
    font-size: 1.7em;
    text-decoration: none;
    color: #0f9dda;
    align-items: center;
    padding-right: 3em;
   
}
.navi a:hover{
    color:  rgb(24, 2, 189);
}
.intro{
    color: #ffffff;
    font-size:1.6em ;
    float: right;
    margin-top:6vw;
}
.bod{
    background-color: #0f9dda;
}
.tintro{
    color: #ffffff;
    font-size:2em ;
    position:absolute;
    margin-top: 6vw;
    
    
}
.tintrot{
    color: #ffffff;
    font-size:2em ;
    position:absolute;
    margin-top: 20vw;
    
    
}
.frame{
    position: absolute;
    margin-top: 40vw;
    margin-right:5vw ;
    width: 50%;
    height: 50%;
}
.img{
    height: 50%;
    width: 35%;
    position: absolute;
    margin: 40vh;
    border-radius: 1.5em;
    
}
footer{
    position: absolute;
    margin: 50%;
    background-color: #ffffff;
    width: 100%;
    display: flex;
   
  
    
}
.foo{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    color: #0f9dda;
  
}
.aa{
    color: #0f9dda;
    font-size:1.5em;
    padding-right: 1em;
}
.social{
    position: absolute;
    display: flex;
    justify-content:flex-start;
    padding-right:80vw;
}
.fa {
    color: #0f9dda;
    text-decoration: none;
    padding-right: 0.8em;
    padding-top: 0.2em;
    font-size: 2em;
    
}
.bg{
    background-color:  #0f9dda;
}

  .img2{
    height: 50%;
    width: 30%;
    border-radius: 1em;
    margin-top: 14vh;
    margin-right: 12vw;

    
}
@media(min-width:360px){
    
    header{
        padding: 10px 8px;
        font-size: 0.7em;
        
    }
    footer{
        padding:  10px 10px;
        font-size: 0.6em;

    }
}
